@import './components/styles/var.scss';

* {
  box-sizing: border-box;
}
#app {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main-page {
  width: $width;
  height: $height;
  display: flex;
  flex-direction: column;
}
